@import "vars.sass"

.article
    margin-top: 40px
    margin-left: 20%
    figure
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.24)
        background-color: #fff
        margin: 0px 44px
        img
            width: 100%
            max-height: 399px
    figcaption
        margin: 19px auto 0px 30px
        padding-bottom: 50px

.publisher
    display: flex
    padding-left: 30px
    align-items: center
    height: 84px
.avatar
    width: 40px
    height: 40px
    border-radius: 50%
    margin-top: 11px
.avatar1
    background: url('../img/publisher-img1-1.png') center center
.avatar2
    background: url('../img/publisher-img2-2.png') no-repeat 44% 34%
    background-size: 90px
.user-data
    margin-left: 17px
    a
        font-size: 1.143em
        line-height: 2
        color: #4d4d4d
.last-online
    color: #999
    font-size: 1em

.article
    max-width: 780px
.article-title
    font: 2.571em RobotoMedium
    line-height: 1.333
.article-desc
    margin-top: 8px
    font: 1.286em HelveticaNeue
    text-overflow: ellipsis
    line-height: 1.778
    em
        font-family: HelveticaNeueItalic
.more
    display: block
    width: 112px
    background-color: $blue
    color: #fff
    text-align: center
    line-height: 2.571
    text-transform: uppercase
    margin-top: 32px
    border-radius: 2px
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5)
    &:hover
        background-color: $hover-blue

.pagination
    height: 97px
    background-color: $blue
    margin-top: 94px
.pagination-container
    display: flex
    a
        color: #fff
    .prev, .next
        display: flex
        font: 1.357em RobotoMedium
        height: 2.368px
        margin-top: 52px
        .icon-right-arrow
            margin-top: 3px
    .prev
        margin-right: auto
        .icon-right-arrow
            transform: rotate(180deg)
            margin-right: 14px
    .next .icon-right-arrow
        margin-left: 14px

@supports not (display: grid)
    .article
        display: flex
        flex-direction: column
        align-items: flex-end
    