
@import "vars.sass"

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline
    box-sizing: border-box

body
    min-width: 320px
    line-height: 1
    margin: 0
    font-size: 14px
    font-family: RobotoRegular, sans-serif
    background-color: $bg-color
    overflow-x: hidden

ol, ul
    list-style: none

blockquote, q
    quotes: none

blockquote:before, blockquote:after,
q:before, q:after
    content: ''
    content: none

a
    text-decoration: none
    color: inherit

/*END RESET CSS*/

.wrapper
    max-width: 1180px
    margin: 0 auto

.main-header
    background-color: #000
    color: #fff

.header-container
    display: flex
    align-items: center
    height: 90px
  
.logo
    background-color: #fff
    border-radius: 50%
    color: #000
    width: 52px
    height: 52px
    min-width: 52px
    transform: rotate(-28deg)
    font: 2.429em NeoTechMediumItalic
    line-height: 1.529
    span
        position: absolute
        left: -6px
        font-weight: bold

.header-nav
    width: 580px
    margin-left: 3%

.main-menu
    & > li
        display: inline-block
        height: 44px
        margin-top: 28px
        margin-left: 3%
        width: 19%
        text-transform: uppercase
        text-align: center
        color: #acabab
        &:hover
            color: #fff
            border-bottom: 4px solid #2196f3
    .active
        border-bottom: 4px solid #fff
        color: #fff
    .videos
        text-align: left
        width: 22%
        height: 62px
        position: relative
        padding-top: 18px
        border-top-left-radius: 3px
        border-top-right-radius: 3px
        &:hover 
            background-color: #fff
            border-bottom: none
            color: #969696
            .sub-menu
                display: block
        a
            padding-left: 16%

.triangle
    display: inline-block
    position: relative
    top: 3px
    left: 20%
    width: 10px
    height: 10px
    border: 6px solid transparent
    border-top: 6px solid #b9b9b9

.sub-menu
    display: none
    position: absolute
    width: 100%
    padding: 30px 0 15px 0
    background-color: #fff
    border-bottom-left-radius: 3px
    border-bottom-right-radius: 3px
    box-shadow: 0px 1.4px 0.5px 0.5px rgba(0,0,0,0.5)
    color: #444
    a
        text-transform: none
        text-align: left
        width: 100%
    li
        line-height: 2.686
        &:hover
            background-color: #eee
        & > li:last-child
            margin-left: 3%

.additional-nav
    position: relative
    display: flex
    margin-top: 15px
    margin-left: auto
    form
        position: absolute
        top: -17px
        right: 0px
        &:hover .search
            width: 120px
    .sign
        width: 106px
        text-align: right
        align-self: center
        margin-right: 45px
        line-height: 1.2
        color: #fff

.gamburger
    position: relative
    display: none
    margin: 6px 24px auto 0px
    span
        display: block
        height: 4px
        width: 30px
        background-color: #fff
        margin-bottom: 6px
        transition: .2s ease-in-out

.nav-trigger
    display: none
    position: absolute
    top: 34px
    right: 27px
    margin: 0
    width: 28px
    height: 28px
    opacity: 0
    &:checked + .mob-navigation
        left: 0
        transition: 0.2s linear

.mob-navigation
    position: absolute
    left: -100%
    width: 100%
    max-height: 350px
    top: 90px
    padding: 30px 0 20px 0
    font-size: 1.286em
    text-transform: uppercase
    background-color: whitesmoke
    li
        list-style: none
        text-align: center
        padding: 10px 0
    a
        color: #666

.gamburger-sub-menu
    display: none
    margin-top: 10px
    padding: 7px 0
    font-size: 0.838em
    background-color: #eee
    a
        color: $hover-blue
    li
        padding: 5px 0

.dropdown:hover .gamburger-sub-menu
    display: block

.search
    outline: none
    width: 0px
    height: 48px
    border: none
    padding: 0 0 0 24px
    background-color: #000
    background-repeat: no-repeat
    transition: all .5s
    color: #fff
    font: 1.429em RobotoRegular
.search-icon
    position: absolute
    width: 17px
    height: 17px
    top: 16px

footer
    display: flex
    background-color: #fff
    height: 90px
    .footer-container
        width: 1180px
        margin: 0 auto
        display: flex
        align-items: center
        .footer-nav
            margin-right: auto
            padding-left: 2px
    .footer-menu
        width: 290px
        display: flex
        justify-content: space-between
        list-style-type: none
        a
            color: #999
            &:hover
                color: #999
                text-decoration: none
    .copyright
        color: #999