@import "bourbon"

@media only screen and (max-width : 768px)
    .wrapper
        max-width: 680px
    .main-menu
        & > li:hover
            border: transparent
        & > li:first-child
            display: none
        & > li:last-child
            margin-left: 0
        li
            width: auto
            margin-left: 2%
        .videos
            width: 35%
            max-width: 130px
            border: 0
            &:focus 
                background: #fff
                border-bottom: none
                color: #737373
                .sub-menu
                    display: block
                .triangle
                    border: 6px solid transparent
                    border-bottom: 6px solid #b9b9b9
                    top: -2px
            a
                padding-left: 15%
        .active:hover
            border-bottom: 4px solid #fff
            
    .sub-menu
        font-size: 0.875em
    .triangle
        left: 16%
    .additional-nav .sign
        margin-right: 30px
    .search-icon:focus + .search
        width: 120px

    .featured-video figure figcaption h2
        width: 82%
    .featured-video-image
        height: 484px

    .video-galery
        margin-bottom: 78px
    article.video
        &:nth-child(5), &:nth-child(6)
            display: none

    .article
        margin-left: 0px
    .pagination
        margin-top: 40px

    .footer-container
        max-width: 680px

@media only screen and (max-width : 500px)
    .wrapper, .header-container
        max-width: 480px

    nav, .sign
        display: none
    .gamburger, .nav-trigger
        display: block
    .logo
        margin-left: 25px
    .additional-nav 
        form
            top: -10px
            
    .search
        margin: 4px 45px auto 30px
    .search-icon
        width: 24px
        height: 24px

    .content
        margin: 0 10px
    .featured-video
        max-width: 480px
        margin: 10px 0px 20px 0px
        .featured-video-image
            border-radius: 5px 5px 0px 0px
            height: 462px
        figure
            img
                height: auto
    .video-galery
        max-width: 480px
        margin-bottom: 11px
    article.video
        img
            max-height: 280px
        &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6)
            display: none

    .article
        margin: 10px
        min-height: 100%
        figure
            margin: 0
        img
            height: 245px
        figcaption
            .article-title
                max-width: 79%
            .article-desc
                max-width: 90%
    .pagination
        margin-top: 10px
        .pagination-container
            margin: auto 40px

    footer
        height: 60px
        .copyright
            margin: 0 auto
        nav
            display: none