@import "vars.sass"

.content
    margin: 0 44px

.featured-video
    max-width: 1180px
    margin: 40px auto
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.24)
    border-radius: 4px
    figcaption
        margin: 20px auto 0px 30px
        padding-bottom: 30px
        h2
            width: 67%
            font: 2.571em RobotoMedium
            line-height: 1.167
        .source
            font: 1.286em HelveticaNeue
            margin-top: 20px
            line-height: 2.389

.featured-video-image
    border-radius: 5px 5px 0px 0px
    height: 664px
    background: url('../img/featured-video.jpg') no-repeat center/cover
        
.btn-play
    position: relative
    cursor: pointer
    &:before
        content: ''
        position: absolute
        border: 11px solid transparent
        border-left: 17px solid #fff
        bottom: -10px
        right: 35px
        z-index: 1
    &:after
        content: ''
        position: absolute
        width: 66px
        height: 66px
        background-color: $blue
        border-radius: 50%
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4)
        bottom: -32px
        right: 24px
    &:hover:after
        background-color: $hover-blue

.video-galery
    margin-bottom: 107px

article.video
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.24)
    figcaption
        margin: 21px auto 0px 30px
        padding-bottom: 21px
    h2
        font: 1.286em HelveticaNeue
        line-height: 1.778
    p
        font-size: 1.143em
        line-height: 1.5
        color: #4d4d4d
    img
        width: 100%

@supports not (display: grid)
    .video-galery
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    .video
        flex: 0 0 calc(33% - 10px)
        margin-bottom: 20px
    
    @media only screen and (max-width : 768px)
        .video
            flex: 0 0 calc(50% - 10px)

    @media only screen and (max-width : 500px)
        .video
            flex: 0 0 100%
            margin-bottom: 10px

@supports (display: grid)
    .video-galery
        display: grid
        grid-template-columns: repeat(3, minmax(200px, 380px))
        grid-gap: 20px
    article.video h2
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
    @media only screen and (max-width : 768px)
        .video-galery
            grid-template-columns: repeat(2, minmax(200px, 380px))
    @media only screen and (max-width : 500px)
        .video-galery
            grid-template-columns: minmax(320px, 500px)
            grid-gap: 10px