<footer>
    <div class="footer-container">
        <nav class="footer-nav">
            <ul class="footer-menu">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Articles</a>
                </li>
                <li>
                    <a href="#">Videos</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy; 2015. All Rights Reserved.
        </div>
    </div>
</footer>