<header class="main-header">
    <div class="header-container wrapper">
        <a href="#" class="logo">
            <span>GUI</span>
        </a>
        <nav class="header-nav" role="navigation">
            <ul class="main-menu">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="articles.html">Articles</a>
                </li>
                <li class="videos active">
                    <a href="index.html">Videos</a>
                    <div class="triangle"></div>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">Most Recent</a>
                        </li>
                        <li>
                            <a href="#">Most Popular</a>
                        </li>
                        <li>
                            <a href="#">All</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Contact&nbsp;Us</a>
                </li>
            </ul>
        </nav>
        <div class="additional-nav">
            <div class="sign">
                <a href="#">Sign&nbsp;In</a>
                <span>/</span>
                <a href="#">Sign&nbsp;Up</a>
            </div>
            <form>
                <img class="search-icon" src="img/search.svg" alt="">
                <input class="search" placeholder="Search" type="text">
            </form>
            <div class="gamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <input type="checkbox" class="nav-trigger">
    <ul class="mob-navigation">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="articles.html">Articles</a>
        </li>
        <li class="dropdown">
            <a href="index.html">Videos</a>
            <div class="triangle"></div>
            <ul class="gamburger-sub-menu">
                <li>
                    <a href="#">Most Recent</a>
                </li>
                <li>
                    <a href="#">Most Popular</a>
                </li>
                <li>
                    <a href="#">All</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Contact Us</a>
        </li>
    </ul>
</header>